.container {
    padding: 20px 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.desc {
    width: 70%;
    font-size: 24px;
    color: #444;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width:480px) {
    .title {
        text-align: center;
    }

    .desc {
        width: 90%;
        text-align: center;
    }
}